

body{
  margin: 0;
  padding: 0;
  background-color: #f0f2ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 300px;
  background: #ffffff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}


.close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  transition: 0.2s;
}

.close-btn:hover {
  color: #000;
}

.card h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 20px;
}

.option {

  background-color: #f2f3f5;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 0.95rem;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid transparent;
}

.option:hover {
  border-color: #6366f1; 
}

.option.selected {
  background-color: #6366f1;
  color: white;
  font-weight: 500;
}

.submit-btn {
  font-size: 0.9rem;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  color: #6366f1;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

@media (max-width: 400px) {
  .card {
    padding: 16px;
  }

  .card h2 {
    font-size: 1rem;
  }

  .option {
    font-size: 0.9rem;
  }

  .submit-btn {
    font-size: 0.85rem;
  }
}



.slide-up {
  animation: slideOut 0.5s forwards ease;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
